.boo{
  height:100px;
  background:#e7e7eb;
}

.send-form{
  text-align:center;
  padding-top:30px;
  width:600px;
  margin:0 auto;
  background: white;
  height: 400px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.send-start{
  font-size:30px;
  margin-bottom:10px;
  font-family:Georgia;
}

.send-name{
  padding-left: 10px;
  margin: 8px 0;
  width:500px;
  height:60px;
}

.send-image{
  padding-left: 10px;
  margin: 8px 0;
  width:500px;
  height:60px;
}

.send-text{
  padding-left: 10px;
  margin: 8px 0;
  width:500px;
  height:60px;
}

.send-btn{
  width: 300px;
  display: block;
  padding: 5px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background: #a1d8e6;
  font-size: 20px;
  margin: 20px auto 0;
}