.main-content{
  padding-top:80px;
  padding-left:42px;
  display:flex;
  flex-wrap: wrap;
}

.image-post{
  padding:15px 0;
  margin:10px;
  width:320px;
  height:400px;
  background-color:white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;

  &__image{
    margin:10px;
    width:300px;
    height:300px;
    object-fit: cover;
  }

  &__name{
    height:50px;
    font-size:30px;
    text-align:center;
    font-family:'Bradley Hand';
    word-break:normal;
  }
}

.image-post.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}