<div class="header">
    <div class="header-wrapper">

      <div class="header-title">
      <a href="/images" class="header-title__link">
      coverstock.
      </a>
      </div>
        <% if user_signed_in?%>
          <div class="user_right_navi">
            <%= link_to "LogOut", destroy_user_session_path, method: :delete , class:"user_right_navi__logout-btn" %>
            <a class="post-btn" href="/images/new">Upload</a>
          </div>

        <% else %>

      <div class="right-navi">
        <div class="right-navi__signup">
          <a href="/users/sign_in" class="right-navi__login__btn">LogIn</a>
        </div>
        <div class="right-navi__login">
          <a href="/users/sign_up" class="right-navi__signup__btn">SignUp</a>
        </div>
      </div>
      <% end %>
    </div>
</div>
