<%= render partial: "header" %>
<div class="uploaded-space"></div>
<div class="uploaded">
  <div class="uploaded__main">
      SUCCESSFULLY UPLOADED!
    <a class="uploaded__main__btn" href="/images">投稿一覧へ戻る</a>
  </div>
</div>
