<%= render partial: "header" %>
<div class="uploaded-space"></div>
<div class="uploaded">
  <div class="uploaded__main">
      Successfully Uploaded!
    <a class="uploaded__main__btn" href="/images">Back Home</a>
  </div>
</div>
