
<%= render partial: "header" %>
<div class="boo"></div>
<div class="send-form">
  <%= form_tag('/images', method: :post) do %>
    <div class="send-start">
      Upload
    </div>
    <ul>
      <li><input placeholder="Cover Name" type="string" name="name" class= "send-name"></li>
      <li><input placeholder="Image Url" type="text" name="image"  class= "send-image"></li>
      <li><input placeholder="Youtube Url after「https://www.youtube.com/watch?v=」 + ?" type="text" name="url"  class= "send-url"></li>
      <li><input placeholder="Artist Name" type="string" name="artist_name"  class= "send-text"></li>
      <li><input type="submit" value="SEND"  class= "send-btn"></li>
    </ul>
  <% end %>
</div>

